<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Help</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <!--The header partial-->
        {{>header}}
        <p>{{message}}</p>
        <!--The footer partial-->
        {{>footer}}
    </body>
</html>